<% provide(:title, 'Как стать исполнителем') %>
<div class="static-page-executor">
 <div class="statpageinfo">
<div class="list-group">    
  <%= link_to "Как это работает", about_path, class: "list-group-item"%>
  <%= link_to "Безопасность", security_path, class: "list-group-item"%>
  <%= link_to "Стать исполнителем", howtobeexecutor_path, class: "list-group-item" %>
<h5><%= link_to "Я хочу стать исполнителем!", howtobeexecutor_path, class: "btn btn-success" %></h5>
  </div>
  </div>
<div class="static-page-executor-info">

	<h1>Как стать исполнителем</h1>
	<p>
	  Исполнители TaskMe — это ответственные и активные люди, которые помогают заказчикам решать их повседневные проблемы, выполняя интересные задания в удобное для себя время. Любой исполнитель может найти задание по душе, так как на нашем сервисе ежедневно публикуются сотни различных заданий — от доставки до участия в масштабных мероприятиях.
 

    <h2>Условия работы на TaskMe</h2>
    TaskMe берет с исполнителей комиссию в 15% от стоимости выполненных заданий. Комиссия списывается автоматически со счета исполнителя в TaskMe в тех задания, где исполнитель уже получил оплату за работу. Если баланс счета становится отрицательным, возможность выполнять задания ограничивается.
 
Например, вы стали исполнителем TaskMe и начали оставлять предложения к заданиям. В задании на 1000тг. вас выбрал исполнителем и вы успешно его выполнили, в этот момент с вашего личного счета в TaskMe спишется 150 тг. Пока задание находится в процессе выполнения эти 150 тенге будут временно заблокированы на вашем счете.
 
Сразу после верификации на сайте мы бесплатно зачислим на ваш счет 300 тенге, на которые вы сможете выполнить первые задания и заработать первые деньги. Если вам понравится наш сервис, далее вы сможете пополнять свой счет самостоятельно, через любой удобный способ, выполнять больше заданий и увеличивать заработок.
    <h2>Кредо исполнителей TaskMe</h2>

    <li>Мы сами определяем сферу своей деятельности, свой график работы и желаемые цели.</li>
    <li>Мы выполняем каждое задание с полной самоотдачей, потому что знаем, качественный сервис — это то, что привлекает заказчиков, побуждает их становиться постоянными клиентами.</li>
    <li>Мы вежливы и толерантны, потому что знаем, что это основа успеха.</li>
    <li>Мы не стесняемся уточнить детали и перезванивать заказчикам.
Они любят нас за это.</li>
    <li>Мы умеем творчески подходить к решению даже самых обычных задач.</li>
    <li>Мы дорожим своей репутацией и знаем, что от каждого из нас зависит репутация TaskMe.</li>
    <h2><h2>Кредо исполнителей TaskMe</h2>
    В настоящее время стать исполнителями TaskMe могут только граждане Республики Казахстан, проживающие на территории Казахстана. Чтобы стать исполнителем, необходимо подтвердить персональные данные, пройти тестирование. Для юридических лиц существует специальная процедура подтверждения.
	</p>
  <div class="static-how-to-be-executor-link">
    <% if signed_in? %>
  <%= link_to "Я хочу стать исполнителем", new_user_verification_path(current_user), class: "btn btn-success btn-lg" %>
  <% else %>
  <%= link_to "Зарегестрируйтесь", new_user_registration_path, class: "btn btn-success btn-lg" %> или <%= link_to "Войдите", new_user_session_path, class: "btn btn-success btn-lg" %> чтобы подать заявку в исполнители
  <% end %>
  </div>
</div>
</div>