<h2>Настройки профиля</h2>
<div class="row">
  <div class="col-md-6 useredit">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name %></p>
  <%= f.text_field :name, :autofocus => true, class: "form-control-user" %>

  <p><%= f.label :phone %></p>
  <%= f.text_field :phone, id: "phone", class: "form-control-user" %>

  <p><%= f.label :email %></p>
  <%= f.email_field :email, class: "form-control-user" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></p>
  <%= f.password_field :password, :autocomplete => "off", class: "form-control-user" %>

  <p><%= f.label :password_confirmation %></p>
  <%= f.password_field :password_confirmation, class: "form-control-user" %>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
  <%= f.password_field :current_password, class: "form-control-user" %>
  <p><%= f.label :about %></p>
  <%= f.text_field :about, class: "form-control-user" %>

    <p><%= f.label :serviceprice %></p>
  <%= f.text_field :serviceprice, class: "form-control-user" %>
  <p><%= f.label :hourprice %></p>
  <%= f.text_field :hourprice, class: "form-control-user" %>
    <label>My Avatar</label></br>
    <%= image_tag(@user.avatar_url, size: "200x200")  if @user.avatar? %></br></br>
    <%= f.file_field :avatar, class: "form-control-user" %>
    <%= f.hidden_field :avatar_cache %>
  <%= f.submit "Update", class: "btn btn-success col-md-6" %>
<% end %>
<br><br><br>
<%= link_to "Back", :back, class: "btn btn-primary" %>
  </div>
</div>