<footer class="footer super-font">
	<div class="footer-menu">
		<div class="footer-nav-block">
			<ul class="footer-nav-links">
				<li class="footer-nav-main">Как тут все устроено</li>
				<li><%= link_to "Как это работает", about_path %></li>
				<li><%= link_to "Как стать исполнителем", howtobeexecutor_path %></li>
				<li><%= link_to "Безопасность и гарантии", security_path %></li>
				<li><%= link_to "Отзывы исполнителей", about_path %></li>
				<li><%= link_to "Отзывы заказчиков", about_path %></li>
				<li><%= link_to "Награды", about_path %></li>
			</ul>
			<ul class="footer-nav-links">
				<li class="footer-nav-main">Компания</li>
				<li><%= link_to "Наш блог", about_path %></li>
				<li><%= link_to "Вакансии", about_path %></li>
				<li><%= link_to "Контакты", about_path %></li>
			</ul>
			<ul class="footer-nav-links">
				<li class="footer-nav-main">СМИ и партнеры</li>
				<li><%= link_to "СМИ о нас", about_path %></li>
				<li><%= link_to "Бренды у нас", about_path %></li>
			</ul>
			<ul class="footer-nav-links">
				<li class="footer-nav-main">Служба поддержки</li>
				<li><%= link_to "Правила сервиса", about_path %></li>
				<li><%= link_to "Частые вопросы", about_path %></li>
			</ul>		
		</div>
		<div class="footer-menu-info">
			<span>Горячая линия с 9:00 по 23:00</span>
			<span>в выходные: с 9:00 по 21:00</span>
			<span class="footer-hot-line-number">87079110202</span>
			<span>Пишите нам <a href="mailto:taskme@taskme.kz">taskme@taskme.kz</a></span>
			<span>Developed with <i class="fa fa-heart-o"></i> by Abdugaliyev Adyl :)</span>
		</div>
		<div class="footer-second-block clear">
			<div class="footer-servise-info">
				 (TM) позволяет быстро и удобно находить надежных исполнителей для решения любых бытовых задач. Юду экономит время заказчикам и помогает зарабатывать исполнителям.
			</div>
			<div class="footer-servise-info">
				На TM можно поручить убраться в квартире, купить и доставить товары, перевезти груз или посылку, собрать или отремонтировать мебель, настроить или починить компьютер, присмотреть за домашним питомцем и многое другое.
			</div>
			<div class="footer-servise-info">
				Все исполнители имеют в своем профиле только достоверные отзывы и рейтинг TM. Отзывы помогают выбирать лучших работников для выполнения своих задач. Чтобы стать исполнителем Юду необходимо пройти верификацию и подтвердить свои контактные данные.
			</div>
		</div>
      </div>
</footer>